header{
    font-size: 30px;
    padding: 20px;
    background-color: darkviolet;
    width: 100%;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    font-size: 30px;
    margin-left: 10%;
    color: white;
    font-weight: bold;
}
span{
    font-weight: 200;
    font-size: 25px;
}